<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PlanFix.SDK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </sectionGroup>
  </configSections>
  
  <userSettings>
    <PlanFix.SDK.Properties.Settings>
      <setting name="PlanFixUri" serializeAs="String">
        <value>https://apiru.planfix.ru/xml</value>
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value>a57bf1e89ffed65fbac4dffd6a67889c</value>
      </setting>
      <setting name="Token" serializeAs="String">
        <value>a52d96d141278a3e29e82fea150ede36</value>
      </setting>
      <setting name="PageSize" serializeAs="String">
        <value>5</value>
      </setting>
    </PlanFix.SDK.Properties.Settings>
  </userSettings>
  
  <log4net>    
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\PlanFix.SDK.log"/>
      <param name="AppendToFile" value="true"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-5level] %message%newline" />
      </layout>
    </appender>
    <logger name="Logger">
      <appender-ref ref="LogFileAppender"/>
      <!-- Change log level here. Possible values: DEBUG, INFO, ERROR. -->
      <level value="DEBUG" />
    </logger>    
  </log4net>
  
</configuration>