<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div id="table-users" class="table-users pt130 pb130" th:fragment="users">
    <div class="container">
        <div class="table-users">
            <div class="row">
                <div class="col-1 border-color bgcolor-td">id</div>
                <div class="col-3 border-color bgcolor-td">Фамилия</div>
                <div class="col-3 border-color bgcolor-td">Имя</div>
                <div class="col-3 border-color bgcolor-td">Email</div>
                <div class="col-2 border-color bgcolor-td">Управление</div>
            </div>
            <div th:each="user : ${users}" class="row">
                <div th:utext="${user.id}" class="col-1 border-color bgcolor-td">...</div>
                <div th:utext="${user.lastname}" class="col-3  bg-td border-color">...</div>
                <div th:utext="${user.firstname}" class="col-3 bg-td border-color">...</div>
                <div th:utext="${user.email}" class="col-3 bg-td border-color">...</div>
                <div class="col-2 bg-td border-color">...</div>
            </div>
            <form name="addUser" id="addUser" action="#" th:action="@{/user}" style="margin-top: 20px;"
                  th:object="${user}" method="post" onsubmit="return false;">
                <div class="row" style="background-color:#FFF">
                    <div style="text-align: center; padding: 0px;" class="col-1 border-color bgcolor-td">Добавить сотрудника</div>
                    <div class="col-2 d-flex border-color align-items-center">
                        <input type="text" id="lastname" th:placeholder="Фамилия" th:field="*{lastname}"/></div>
                    <div class="col-2 d-flex border-color align-items-center">
                        <input type="text" id="firstname" th:placeholder="Имя" th:field="*{firstname}"/></div>
                    <div class="col-2 d-flex border-color align-items-center">
                        <input type="email" id="email" th:placeholder="Email" th:field="*{email}"/>
                    </div>
                    <div class="col-2 border-color align-items-center">
                        <input type="password" id="password" th:placeholder="Пароль" th:field="*{password}"/>
                        <input type="password" id="passwordConfirm" th:placeholder="Подтверждение" th:field="*{passwordConfirm}"/>
                    </div>
                    <div class="col-2 d-flex border-color align-items-center">
                        <input type="text" id="role" th:placeholder="${user.role.name}" th:field="*{role}"/>
                    </div>
                    <div class="col-1 d-flex border-color align-items-center">
                        <input id= "addUserBtn" type="button" class="user-save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>